GEMINI_API_KEY=
ALLOW_DEMO_PREMIUM=false

FREE_DAILY_ANALYSES=5
PRO_DAILY_ANALYSES=50

FREE_DAILY_INTERVIEW_TURNS=0
PRO_DAILY_INTERVIEW_TURNS=100

FREE_DAILY_PROGRESS=2
PRO_DAILY_PROGRESS=10

FREE_DAILY_PERSONA=2
PRO_DAILY_PERSONA=10

FREE_CUSTOM_MODES=1
PRO_CUSTOM_MODES=20
