rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId && 
                    (!request.resource.data.keys().hasAny(['isPremium', 'customModes']) || (request.resource.data.isPremium == false && request.resource.data.customModes == []));
      // Prevent users from modifying premium status or customModes via the client SDK
      allow update: if request.auth != null && request.auth.uid == userId && 
                    (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['isPremium', 'customModes']));

      match /sessions/{sessionId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
